* {
    background-color: #b08282;
}

/*Header*/
header img {
    max-width: 100%;
 
}


/*Nav bar*/

menu#myNavbar.collapse.navbar-collapse{
    background-color: #cc9d9d;

}
div.container-fluid {
    background-color: #cc9d9d;
}
.navbar .navbar-expand-lg .navbar-brand{
    background-color: #cc9d9d;

}

a {
    background-color: #cc9d9d;
   
    
}
.navbar-inverse .navbar-nav>li>a {
    color: black; 
    font-family: 'Nunito', sans-serif;
    font-size: medium;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    background-color: #cc9d9d;
    color: black;

}


.navbar-inverse .navbar-brand {
    color: white;
    font-weight: bolder;
    font-size: xx-large;
    font-family: 'Sansita Swashed', cursive;
    background-color: #cc9d9d;
    padding: 25px;

}


body {
    background: #b08282;
}

/*index main page*/
.card .index{
    font-family: 'Nunito', sans-serif;
    color: black;
    width: 30%;
    height: 30%;
}

.col-sm-8 img {
    width: 50px;
    height: 50px;
}

.img-fluid, .max-width {
    max-width: 100%;
    height: auto;
 }

.about {
    text-indent: 50px;
}
/*contact page*/

.form-group {
    width: 50%;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color:#909fd4;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

/*portfolio page*/
.img-fluid, .nev {
    max-width: 50%;
    height: auto;

}

h1 {
    color: black;
    font-family: 'Nunito', sans-serif; 
}
h2.portfolio {
    color: black;
    font-family: 'Nunito', sans-serif;
}

main.container.port a {
    color: #909fd4;
}

/*footer*/
footer.jumbotron.text-center {
    background-color: #cc9d9d;
    
}

p.footer{
    color: black;
    background-color: #cc9d9d;
    font-size: 15px;
    font-family: 'Nunito', sans-serif;
    text-align: left;
}

.footer a {
    color: white;
}

.footer a:hover {
    color: black;

}